# Database connection string
DATABASE_URI=postgres://postgres:postgres@localhost:5432/mf-payload-cms
# Or use a PG connection string
#DATABASE_URI=postgresql://127.0.0.1:5432/payload-template-website
# Used to encrypt JWT tokens
PAYLOAD_SECRET=83587c963c7d6eac96ff484d
# Used to configure CORS, format links and more. No trailing slash
NEXT_PUBLIC_SERVER_URL=http://localhost:3000